# Default repository information (don't include codename data, d-i figures it
# out from what's available in the ISO)
d-i mirror/country string enter information manually
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i apt-setup/security_host string security.kali.org/kali-security

# Disable volatile and backports
d-i apt-setup/services-select multiselect security

# Enable contrib and non-free
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Disable CDROM entries after install
d-i apt-setup/disable-cdrom-entries boolean true

# Upgrade installed packages
d-i pkgsel/upgrade select full-upgrade

# Change default hostname
# DISABLED: We take care of this by forking netcfg until #719101 is fixed
# d-i netcfg/get_hostname string kali
# d-i netcfg/get_hostname seen false

# Do not create a normal user account
d-i passwd/make-user boolean false

# Disable popularity-contest
popularity-contest popularity-contest/participate boolean false
